.page {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.row {
    margin: 0px;
}

.wrapper {
    background: #F3F3F3 none repeat scroll 0% 0%;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: #45484A;
    line-height: 1.3px;
}

.img-thumbnail {
    background-color: none!important;
    border: none !important;
}

ul li {
    list-style: none;
}

ul,
li {
    padding: 0px;
    margin: 0px;
}

p {
    line-height: 20px;
}

hr {
    margin-top: 10px !important;
    margin-bottom: 24px !important;
}

#header{
    width: 100%;
    height: 100px;
    background-repeat: repeat-x repeat-y;
    background-image:url(../img/img-main/header/bg-main.jpg);
    
}

.row{
    margin: 0px 0px;
    padding: 0px 0px;
}


.logo_circles{
    padding-top: 22px;
    
    float: left;

} 

.wr_icon_social{
    padding-top: 37px;
    float: right;
    padding-right: 35px;
}

.icon_social  {
    
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    float: left;

}

#Facebook{
    background-image: url(../img/img-main/like.png);
}

.Twitter{
    background-image: url(../img/img-main/twiter.png);
}

.Skype{
    background-image: url(../img/img-main/skype.png);

}

.Dribble{
    background-image: url(../img/img-main/ball.png);
}

.Youtube{background-image: url(../img/img-main/youtube.png);
}

/*----/Header----*/


/*---content---*/

#content{
    float: left;
    width: 100%;
}


/*----Menu-----*/

#wr_menu{
    
    float: left;
    width: 100%;
    background-size: 100% !important;
    overflow: visible;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.menu{
    width: 100%;
    background: rgba(255, 255, 255, 0.75) none repeat scroll 0% 0%;
    box-shadow: 0px 6px 5px -5px rgba(0, 0, 0, 0.3) inset;
    float: left;
    padding-left: 12%;
    text-align: left;
}

.menu ul{
    float: left;
    margin: 0px;
    padding:0px;
}

.menu ul li {
    float: left;
    padding-right: 68px;    
}

.menu ul li a{
    float: left;
    display: inline-block;
    color: black;
    line-height: 44px;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
}

#home{
    padding-left: 0px;
}
/*----/Menu-----*/



/*---banner-gallery---*/

.banner-gallery{
    
}

.title_gallery{
    padding-top: 23px;
    float: left;
}

.home_gallery_page{
    float: right;
    padding-top: 23px;
}

.home_gallery_page a {
    color: #fff;
    
}

.home_gallery_page span {
    color: #fff;
    padding-right: 5px;
}

.homepage{
    float: right;
    padding-right: 5px;
}

.vertical_stripes{
    float: right;
}

.gallerypage{
    float: right;
    padding-right: 5px;
}



/*---//banner-gallery---*/
/*---//content---*/

/*footer*/
.top-footer{
    float: left;
    width: 100%;
    display: inline-block;  
    background-image: url("../img/img-main/footer/topbar-ft.png");
    background-repeat: no-repeat;
    padding: 20px 0px 20px;
    -webkit-background-size: cover;
    background-size: cover;

}
.logo-twitter-top-ft{
    float: left;
}
.text-top-ft{
    color: #fff;
}
.text-top-ft span{
    font-style: italic;
    color: #8db8d9;

}
.text-top-ft p{
    font-style: italic;
    color: #8db8d9;
    font-size: 13px;
}
/*//top-footer*/
/*inner-footer*/

.inner-footer{
    float: left;
    width: 100%;
    background-image: url("../img/img-main/footer/bg-ft-2.jpg");
    background-repeat: repeat-x repeat-y; 
    padding-top: 20px;
    padding-bottom: 20px;


}
.logo-ft{
    float: left;
    padding-top: 18px;
}
.cl3-title {
    text-transform: uppercase;
    padding-bottom: 5px;
    padding-top: 8px;
    font-weight: 800;
    font-size: 14px;
    color: rgb( 177, 182, 185 );
}
.cl3-text{
    color: #AFB3B6;
    float: left;
    font-size: 13px;

}
.cl3-p{
    float: left;
    text-transform: uppercase;
    font-size: 11px;
    color: #909397;
    margin-bottom: 4px;
    margin-top: -10px;
    font-size: 10px;
    position: relative;
    top: 10px;
}
.hr-ft{
    float: left;
    width: 75%;
    border-color: #595c5e !important;
}
.cl3-text-1{
    color: #AFB3B6;
    float: left;
    font-size: 13px;
    padding-top: 5px;

}


.cl3-text-1 li{
    margin-top: 10px;
}
.cl3-text-1 ul.phone{

    margin-top:40px;

} 
.cl3-text-1 ul.sup{

    margin-top:30px;

} 
.input-group{
    padding-top: 20px;

}
.form-control{
    width: 100%;
    border: none;
      display: block;
      height: 34px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      color: #555;
      background-color: #414446;
      background-image: none;
      border: none;
      border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.btn-default {
    background-image: linear-gradient(to bottom, #5B5E60  0%, #494d50 100%);
    background-repeat: repeat-x;
    border-color: #5B5E60;
    color: #b1b6b9;
    border: none;

}
.inner-footer .social{
    float: left;

}
.inner-footer .social li{
    margin-top: -5px;
}
.inner-footer .list-inline {
    margin-left: -16px;
}
.cl3-text span{
    color: #bbdbef;
}
.cl3-text-1 .addr-1{


}

/*//inner-footer*/
/*down-footer*/
.down-footer{
    float: left;
    width: 100%;
    background-color: #3E3F41;
    padding-top: 20px;
    padding-bottom: 20px;
}
.copyright{
    color: #666769;
}

/*//down-footer*/
/* //footer */
