/* nav */
.wr-menu{
	
}
/* nav */



/*---content---*/

/*---slide---*/
.wr_slide{
	float: left;
	width: 100%;
}
.item1{
	background-image: url(../img/img-main/slider/slide1.jpg);
	width: 100%;
	height: 300px;
}
/*---/slide---*/
/* container1 */
/*---//tille---*/
#wr_container1{
	float: left;
	width: 100%;
}

.wr_ct1_top{
	float:left;
	width: 100%;
	background-image: url(../img/img-main/footer/topbar-ft.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-clip: border-box;
	background-origin: padding-box;
	background-size: cover;

}
.ct1_top_title{
	float: left;
	color: #fff;

}
#wr_container1 .ct1_top_title h2{
	padding-bottom: 0px;
	font-size: 28px;
	font-weight:300;
	text-transform: none;
}
#wr_container1 .ct1_top_title h3{
	margin-top: 10px;
	margin-bottom: 26px;
	font-size: 18px;
	font-weight: 400;
	text-transform: none;
}
.ct1_top_img{
	padding: 10px 0px 0px 5px;
	float: right;
}
/*---//tille---*/
/* three-plates */
.three-plates{
	background-color: #a5aaae;
	background-repeat: repeat;
	width: 100%;
}
.three-plates a{
	display: block;
	position: relative;
	padding: 25px 0px 20px;
}
.three-plates .Separate	
{	
		position: absolute;
		top: 0px;
		left: 0px;
		height: 100%;
		border-right: 1px solid #BABEC1;
		background: #717476 none repeat scroll 0% 0%;
		width: 1.7px;
		border-bottom: 1px solid #FFF;
    	margin-bottom: 30px;
}
.three-plates .plates-1 .Separate div{
	position: absolute;
    top: 50%;
    left: -2px;
    height: 15px;
    width: 8px;
    margin-top: -7px;
    background-image: url("../img/img-main/arrow-2.png");
    background-position: 0px 0px;
}
.three-plates .three-plates-img-1, .three-plates-img-2, .three-plates-img-3{
	position: relative;
	display: block;
	height: 65px;
	width: 64px;
	margin: 0px auto 15px;
}
.three-plates span.img-1{
	background-position: -145px 0px;
	background-image: url("../img/img-main/container-1/sprite.png"	);
	background-repeat: no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;

}
.three-plates span.img-2{
	background-position: -76px 0px;
	background-image: url("../img/img-main/container-1/sprite.png"	);
	background-repeat: no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}
.three-plates span.img-3{
	background-position: 0px 0px;
	background-image: url("../img/img-main/container-1/sprite.png"	);
	background-repeat: no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
}

.three-plates .plates-1 h5{
	font-size: 24px;
	font-weight: 300;
	text-transform: none;;
	color: #53575B;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
	text-align: center;
}
.three-plates .plates-1 h6{
	 font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
	text-transform: none;
	color: #53575B;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
	text-align: center;
}

/* //three-plates 
*/
/*---//container1---*/

/* container2 */
.container2{
	float: left;
	width: 100%;
	padding: 30px 0px 30px;
}
.container2 h2{
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 22px;
}
.container2 p{
	margin-bottom: 9px;
	line-height: 20px;
	letter-spacing: 1.9;
}
.left-btn{
	background-position: -2px 2px;
	display: block;
	float: left;
	width: 15px;
	height: 15px;
	background-image: url("../img/img-main/arrow-3.png");
	cursor: pointer;

}
.rigth-btn{
	background-position: -14px 2px;
	display: block;
	float: left;
	width: 15px;
	height: 15px;
	background-image: url("../img/img-main/arrow-3.png");
	cursor: pointer;

}
.float-rigth{

	float: right;
}
li.style{
	width: 210px;
	float: left;
	display: block;
	margin-left: 25px;

}
.slider_1{
	width: 100%;
	position: relative;
	display: block;
	overflow: hidden;
}
.slider_2{
	width: 100%;
	position: relative;
	display: block;
	overflow: hidden;
}
.slider_3{
	width: 100%;
	position: relative;
	display: block;
	overflow: hidden;
}
header{
	width: 93%;
	z-index: 1;
	position: absolute;
	height: 70px;
	bottom: 10px;
	text-align: center;
	left: 5px;
}
header .black{
	display: block;
	background: #000 none repeat scroll 0% 0%;		
	opacity: 0.45;
	width: 100%;
	height: 100%;
}
.slider_3 header{
	width: 94.3%;
	z-index: 1;
	position: absolute;
	height: 70px;
	bottom: 10px;
	text-align: center;
	left: 5px;

}
.slider_2 header{
	width: 94.3%;
	z-index: 1;
	position: absolute;
	height: 70px;
	bottom: 10px;
	text-align: center;
	left: 6px;

}
.style h3{
	position: relative;
	text-align: center;
	margin-top: -60px;
	font-size: 18px;
	font-weight: 300;
	color: #F3F3F3;
	margin-bottom: 0px;


}
.style h4{
	position: relative;
	font-size: 11px;
	font-weight: 400;
	text-transform: uppercase;
	color: #A6ABAF;
	text-align: center;
	
}

.mouse-hover_1{
	display: none;
	top: 0%;	
	width: 93%;
	
}
.mouse-hover_2{
	display: none;
	top: 0%;	
	width: 93%;
	
}
.mouse-hover_3{
	display: none;
	top: 0%;	
	width: 93%;
	
}
.border-bottom_1{
	display: none;
	width: 96%;
	border-bottom: 2px solid #2373CD;
	position: absolute;
	bottom: 6px;
	left: 2px;
}
.border-bottom_2{
	display: none;
	width: 96%;
	border-bottom: 2px solid #2373CD;
	position: absolute;
	bottom: 6px;
	left: 2px;
}
.border-bottom_3{
	display: none;
	width: 96%;
	border-bottom: 2px solid #2373CD;
	position: absolute;
	bottom: 6px;
	left: 2px;
}
.visit-hover_1{
	width: 93%;
	z-index: 1;
	position: absolute;
	height: 114px;
	text-align: center;
	left: 5px;
	top: 5px;

}
.visit-hover_2{
	width: 94.3%;
	z-index: 1;
	position: absolute;
	height: 114px;
	text-align: center;
	left: 5.8px;
	top: 5px;

}
.visit-hover_3{
	width: 94.3%;
	z-index: 1;
	position: absolute;
	height: 112.3px;
	text-align: center;
	left: 5px;
	top: 7px;

}
.black-2{
	display: block;
	background: #000 none repeat scroll 0% 0%;		
	opacity: 0.45;
	width: 100%;
	height: 100%;
}
.img-link{
	width: 100%;
	float: left;
	top: 49%;
	position: absolute;
	display: block;
	height: 56px;
	text-align: center;
	margin-left: 0px;
	z-index: 100;
	padding: 0% 21%;
}

.img-link a.a-1{
	position: relative;
	float: left;
	width: 56px;
	height: 56px;
	background-image: url("../img/img-main/container-2/link-container-2.png");
	background-repeat: no-repeat;
}
.img-link a.a-2{
	position: relative;
	float: left;
	width: 56px;
	height: 56px;;
	background-image: url("../img/img-main/container-2/lup-container-2.png");
	background-repeat: no-repeat;
}


/* //container2 */
/* contianer3 */
.container3{
	float: left;
	width: 100%;
	background-image: url("../img/img-main/bg-3-5.png");
	background-repeat: repeat;
}
.container3 .ct-3-content{
	width: 100%;
	padding: 30px 0px 30px;
}
.container3 h5.ct-3-h5{

	text-transform: uppercase;
	font-size: 12px;
	font-weight: 800;
	color: #45484A;
	margin-bottom: 10px;
	margin-left: 90px;
}
.ct-3-icon{
	float: left;	
	display: block;
	height: 71px;
	width: 69px;
}
.ct-3-icon span.normal{
	position: absolute;
	width: 74px;
	height: 74px;
	background-image: url("../img/img-main/bg-icon-container3.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	
	padding: 18px 16px;
}
.ct-3-icon span.normal{
	position: absolute;
	width: 74px;
	height: 74px;
	background-image: url("../img/img-main/bg-icon-container3.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	
	padding: 18px 16px;
}

.ct-3-icon span.atc{
	display: none;
	position: absolute;
	background: #407EB5 none repeat scroll 0% 0%;
	border-radius: 50%;	
	box-shadow: 0px 50px 30px -30px rgba(0, 0, 0, 0.2) inset;
	width: 59px;
	height: 59px;
	top: 45px;
	left: 21px;
	z-index: 1;
	opacity: 0.65;
	padding: 13px 10px;

}
.ct-3-content-2 span.normal{
	padding: 14px 13px;
}
.ct-3-content-2 span.atc{
	padding: 9px 7px;

}
.ct-3-content-3 span.normal{
	padding: 14px 16px;

}
.ct-3-content-3 span.atc{
	padding: 9px 10px;

}

.ct-3-icon-content{
	display: block;
	margin: 5px 0px 0px 50px;
	font-size: 12px;
	font-weight: 400;
	font-family: "Open Sans",sans-serif;
}

.ct-3-icon-content ul li{
	padding: 10px 40px;
}
.ct-3-icon-content li{
	list-style-image: url("../img/img-main/arrow-4.png");
	list-style-position: inside;
}

.ct-3-content-1{
	width: 100%;
	float: left;
}
.ct-3-content-2{
	width: 100%;
	float: left;
}
.ct-3-content-3{
	width: 100%;
	float: left;
}
/* //contianer3 */

/* container4 */
.container4{
	float: left;
	width: 100%;
	background-color: #f3f3f3;
	background-repeat: repeat;
	padding: 30px 0px 30px;
}
.container4 .style{
	width: 300px; 
	float: left;
	display: block;
	margin-left: 50px !important;
}
.container4 h2.ct-4-title{
	font-size: 24px;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 15px;	
}
.container4 .arrow-key{
	display: block;
 	position: relative;
	top: 28px;
	float: right;
}
.container4 .Separate	
{	
		z-index: 1;
		top: 0px;
		left: 0px;
		height: 3px;
		border-bottom: 3px solid #dadada;
		background: #dadada none repeat scroll 0% 0%;
		width: 100;
		border-bottom: 1px solid #FFF;
    	margin-bottom: 30px;
    	text-align: center;
}
.container4 .Separate div{
	position: absolute;
	z-index: 2;
    left: 50%;
    height: 10px;
    width: 25px;
    margin-top: -1px;
    background-image: url("../img/img-main/arrow-2.png");
	background-position: -3px -16px;
    text-align: center;
}
.container4 ul.img-sl{
	width: 100%;

}
.container4 .img-link{
	
	padding: 15% 40%;

}

.container4 .ct-4-avatar{
	display: block;
	margin-top: 7px;
}
.container4 .content-avt{
	position: relative;
	float: left;
	padding-right: 10px;
}
.container4 h3.ct-4-h3{
	font-size: 18px;
	font-weight: 300;
	color: #3170AC;
	text-transform: none;
	width:233px;
	text-align: left;
}
.container4 .img-avt{
	width: 59px;
	height: 59px;
	margin-left: -7px;
}
.img-photo{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.container4 .number-comment{
	position: absolute;
	top: 36px;
	left: 29px;
	display: block;
	width: 26px;
	height: 26px;
	background-image: url("../img/img-main/container-4/comment.png");
	background-repeat: no-repeat;
	
}
.container4 .number-comment span{
	font-size: 12px;
	font-weight: 300;
	color: #F3F3F3;
	line-height: 22px;
	text-align: center;
	border-radius: 50%;
	width: 14px;
	position: relative;
	top: 2px;
	left: 6px;s
}
.content-avt{
	float: left;
}
.ct-4-avatar .name{
	width: 100%;
	text-align: left;
	padding-top: 10px;

}
.ct-4-avatar .name p{
	font-size: 12px;
	color: #000;
	float: left;

}
.ct-4-avatar .name span{
	font-size: 12px;
	color: #337AB7;
	margin-left: 5px;
}
.container4 a.ct-4-text{
	text-align: left;
	text-align: left;
	position: relative;
	left: 65px;
	width: 100%;

}

.container4 .hover{
	display: none;
	width: 100px;
	text-align: center;
}
.container4 .hover-1{
	display: none;
	width: 100px;
	text-align: center;
}
.container4 .atc-hover{
	width: 95%;
	z-index: 1;
	position: absolute;
	height: 50px;
	text-align: center;
	left: 7px;
	top: 8px;
}
.container4 .black{
	display: block;
	background: #000 none repeat scroll 0% 0%;
	opacity: 0.45;
	width: 100%;
	height: 100%;
	text-align: center;
	display: inline-block;
	padding: 15px 0px;
}
.container4 a.time{
	display: inline-block;

}
.container4 a.a-3{
	    background-image: url("../img/img-main/container-4/p-container-3.png");
	    background-repeat: no-repeat;
	    position: relative;
		float: left;
		width: 56px;
		height: 56px;

}
.container4 a.tags{
	display: inline-block;
	margin-left: 10px;
}
.container4 .tags-icon{

	
}
.container4 .hover p{
	font-size: 12px;
	color: #fff;
	display: inline-block;
}
.container4 .border{
	width: 98%;
	bottom: 4px;
	left: 3px;
	border-bottom: 2px solid #2373CD;
	position: absolute;
	
}
.container4 .hover a.a{
	background-image: url("../img/img-main/container-4/p-container-3.png");
	position: relative;
	float: left;
	width: 56px;
	height: 56px;
	background-repeat: no-repeat;
}
.container4 .hover .sl-img{
	background-image: url(../img/img-main/container-4/img-2-container-4.png);
	background-repeat: no-repeat;

}
.container4 .ct-4-slider{
	width: 100%;
	position: relative;
	display: block;
	overflow: hidden;
}

/* //container4 */
/* contianer5 */
.container5{
	  width: 100%;
	  float: left;
	  background-image: url("../img/img-main/bg-3-5.png");
	  background-repeat: repeat;
}
.container5 .ct-5{
	display: inline-block;
	
}
.container5 .ct-5-group-1{
	display: inline-block;
	padding-top: 20px;
	
}
.container5 .ct-5-icon{
	display: inline-block;
	width:51px;
	height: 51px; 

}
.ct-5-icon span.normal{
	display: inline-block;

}
.ct-5-icon .icon-ct5{
	display: inline-block;
	
}
.container5 .ct-5-h5{
	display: inline-block;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 800;
	color: #45484A;
}
.container5 .ct-5-text{
	padding-top: 15px;
	padding-top: 15px;
	padding-left: 10px;
}
.container5 p.ct-5-text-sub{
	line-height: 20px;
	float: left;
	
}
.atc-ct5{
	display: none;
	position: absolute;
	background: #407EB5 none repeat scroll 0% 0%;
	border-radius: 50%;
	box-shadow: 0px 50px 30px -30px rgba(0, 0, 0, 0.2) inset;
	width: 40px;
	height: 40px;
	top: 26px	;
	left: 20px;
	z-index: 1;
	opacity: 0.65;
	padding: 10px 9px;
}
.icon-img-ct5-atc{
	z-index: 3;
}



/* //contianer5 */

/* container6 */
.container6{
	float: left;
	width: 100%;
	background-color: #b2b7ba;
	background-repeat: repeat;
}
.container6 .fix-ct-6-1{
	width:50%;
}
.container6 .fix-ct-6-2{
	float: left;
	width:50%;
	margin-top:-60px;
}
.container6 .content{
	float: left;
	padding: 40px 0px;
}
.container6 .arrow-key{

}
.container6 p{
	display: inline-block;
	width: 350px;
	margin-left: 10px;
	position: relative;
    top: -25px;
}
h3.title-ct-6{
	color: 	#45484a;
	font-size: 24px;
	font-weight: 300;
	padding-bottom: 15px;
	padding-right: 40px;
	margin-bottom: 0px;
	text-transform: uppercase;

}

.container6 .img-avt{
	width: 89px;
	height: 89px;
	display: inline-block;
	position: relative;
	bottom: 37px;
}
.container6 .btn{
}
.container6 a{
	position: relative;
	left: -352px;
	top: 40px;
}
.container6 .btn-primary{
	font-size: 10px;
	text-transform: uppercase;
	color: #45484A;
	background-image: linear-gradient(to top, #DDD 0%, #CACDD1 100%);
	background-repeat: repeat-x;
	border-color: #D9DFE6;

}
.fix-ct-6-2 h4{
	display: block;
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 3px;

}

.fix-ct-6-2 h5{
	font-size: 10px;
text-transform: uppercase;

}

.fix-ct-6-2 .img-avt{
	width: 75px;
	height: 75px;
}
.fix-ct-6-2 p.{
	 position: relative;
    top: -100px;
}
.fix-ct-6-2 a{
	position: relative;
	left: -352px;
	top: -27px;
}
.container6  .arrow-key{
	float: right;
	margin-top: 30px;

}
.container6 .left-btn{
	background-position: -2px -43px;
}
.container6 .rigth-btn{
	background-position: -14px -43px;
}
.container6 .bg-p{
	background-image: url("../img/img-main/container-6/tag.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 146px;
    position: relative;
    width: 370px;
    left: 12px;
    top: -75px;
    padding: 30px;
}
.container6 p.note{
	width: 292px;
	top: 3px;
	margin: auto;
	margin-left: 26px;
	
}

/* //container6 */
/*---/content---*/


